	<style>
		#MainTable {
			width: 100%;
		}
		.MainContainer {
			max-width: 900px;
			margin: 0 auto;
		}
	</style>
</head>

<body onload="bodyDidLoad()">
	<div class="MainContainer content">
		<h1>
			Moodle Shortcuts
		</h1>
		<p style="font-style: italic;">
			All links open in a new tab.
		</p>
		<table class="table" id="MainTable">
			<thead>
				<tr id="MainTableTheadRow">
					<th>Item</th>
				</tr>
			</thead>
			<tbody id="MainTableTbody">

			</tbody>
		</table>
	</div>
</body>

</html>